* {
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0;
}

.banner {
  height: auto;
  width: 70%;
  margin: 0 auto;
  display: block;
}

body{
  background-image: url(../images/paperbg.jpg);
  /* background-repeat: no-repeat; */
  /* background: cover; */
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
  margin: 15px 0 15px 0;
}

h2 {
  padding-left: 40px;
}

.menu {
  background-image: url(../images/menubg.jpg);
  background-size: cover;
  width: 750px;
  margin: 15px auto;
  height: 100%;
  padding-bottom: 60px;
  padding-top: 10px;
}

.menu li {
  margin-bottom: 8px;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.menu li a {
  color: black;
}

.menu li a:hover {
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}

ul {
  text-align: center;
}
