* {
  box-sizing: border-box;
  /* width: 100vh; */
  margin: 0;
}

.banner {
  height: auto;
  width: 70%;
  margin: 0 auto;
  display: block;
}

body{
  background-image: url(../images/paperbg.jpg);
  /* background-repeat: no-repeat; */
  /* background: cover; */
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
}

.menu {
  background-image: url(../images/menubg.jpg);
  width: 50%;
  margin: 15px auto;
  height: 100%;
  padding-bottom: 60px;
  padding-top: 10px;
}

.menu li {
  margin-bottom: 8px;
  padding: 5px;
  list-style-type: none;
  text-align: center;

}
